ion-modal {
    z-index: 9999;
    height: 102%;
    padding-top: 107px;
    padding-left: 77px;
    padding-right: 66px;
    padding-bottom: 203px;
    background: rgba(0,0,0,0.5);
    color: #8f8f8f;
}

.toolbar-md-secondary .toolbar-title-md {
    white-space: normal !important;
}